bin/
obj/
.vs/

*.user
*.log
*.pid

CasaMulher.Api/casamulher.db*
CasaMulher.Api/DataProtectionKeys/

.env
.env.*
!/.env.example
appsettings.Local.json
CasaMulher.Api/appsettings.Local.json
CasaMulher.Api/appsettings.*.Local.json
